<?xml version="1.0" encoding="utf-8"?><Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap"><Identity Name="ImageSpace" Publisher="CN=ImageSpace" Version="0.3.0.0"/><Properties><DisplayName>ImageSpace</DisplayName><PublisherDisplayName>ImageSpace contributors</PublisherDisplayName><Logo>Assets/StoreLogo.png</Logo></Properties><Dependencies><TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0"/></Dependencies><Applications><Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ImageSpace.App.App"><uap:VisualElements DisplayName="ImageSpace" Description="Layered image editing" BackgroundColor="#242424" Square150x150Logo="Assets/Logo.png" Square44x44Logo="Assets/SmallLogo.png"/></Application></Applications></Package>
